# Exe files
client
threadpoolserver
omar
threadedserver
server
persistent_client
.clang-format
mul_client_server
*.o

# Random
.DS_Store
threadpoolserver.dSYM
.zed
client.dSYM/
ssh_server/client.dYSM/
ssh_server/server.dYSM/
web_server/server.dYSM/

# Front end development just in case
frontend_httpc/.vite/
node_modules/
package-lock.json
package.json
