# Exe files
client
threadpoolserver
omar
threadedserver
server
persistent_client
.clang-format
mul_client_server
skeleton
*.o
sdbms
msg*

# Random
.DS_Store
threadpoolserver.dSYM
.zed
client.dSYM/
sdbms.dSYM/
ssh_server/client.dSYM/
ssh_server/server.dSYM/
web_server/server.dSYM/
database/skeleton.dSYM/

# Front end development just in case
frontend_httpc/.vite/
node_modules/
package-lock.json
package.json
