/* CSS Styling for all components */

.div_input_message {
	display: flex;
	flex-direction: column;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 50%;
	padding: 16px;
	margin-bottom: 5vh;
	box-sizing: border-box;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	z-index: 1000;
}

.label_input_message {}

.input_message_box {
	height: 50px;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 3 3px 5px rgba(0, 0, 0, 0.1);
	background-color: #f9f9f9;
}
