/* CSS Styling for all components */

/* .message-form { */
/*   bottom: 0; */
/*   position: fixed; */
/*   margin-bottom: 10vh; */
/* } */

.message-form {
	display: flex;
	flex-direction: column;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 50%;
	padding: 16px;
	margin-bottom: 10vh;
	box-sizing: border-box;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.7);
	border-radius: 15px;
	/* z-index: 1000; */
}

.msg-input-box {
  border-radius: 3px;
}

.send-msg-button {
	height: 5vh;
  width: 50%;
	margin: auto;
  margin-top: 1vh;
  /* margin-bottom: 2vh; */
	border-radius: 10px;
	box-shadow: 3 3px 5px rgba(0, 0, 0, 0.1);
	background-color: #f9f9f9;
}
